<p>Bonjour,</p>
<p>Votre compte a été créé sur le portail du Zoo.</p>
<p><strong>Identifiant :</strong> {{ username }}</p>
<p>
  Le mot de passe n’est pas communiqué par email. Merci de contacter
  l’administrateur.
</p>
